.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  display: block;
  padding: 5px 10px;
  margin: 10px auto;
  color: #fff;
  min-width: 200px;
}

.btn.google {
  background-color: #de5246;
}
.btn.facebook {
  background-color: #3b5998;
}
.btn.twitter {
  background-color: #00acee;
}
.btn.github {
  background-color: #000;
}
